{% extends 'layouts/base.html.twig' %}

{% block title 'Profil' %}

{% block body %}
    <div class="row">
        <div class="col-md-6 mx-auto text-center">
            <h1 class="my-5"><i class="bi bi-people"></i> Profil</h1>
            <img src="{{ app.user.gravatarUrl }}" alt="Avatar de {{ app.user.fullName }}" class="shadow rounded-circle">

            <p class="mt-5 lead">{{ app.user.email}}</p>

            <hr>

            <h2>{{ app.user.fullName }}</h2>
            <p>
                <small>
                    🕐 Compte créé le 
                    <time datetime="{{ app.user.createdAt|date('d-m-Y H:i:s')}}">
                        {{ app.user.createdAt|date('d/m/Y') }}
                    </time>
                </small>
            </p>
            <p>
                <a href="{{ path('app_account_edit') }}">Modifier mon compte</a> |
                <a href="{{ path('app_account_change_password') }}">Changer de mot de passe</a>
            </p>
        </div>
    </div>
    
{% endblock %}
