{% extends 'layouts/base.html.twig' %}

{% block title 'Connexion!' %}

{% block body %}
	<div class="container">
	<div class="row">
		<div class="col-md-6 mx-auto">
			<h1 class="mt-5 text-center fw-bold">Connexion</h1>
            <p class="mt-3 mb-5 text-center text-muted">Les plus grands festivals du Mali sont ici à portée de main!</p>
			<form method="post">
				{% if error %}
					<div class="alert alert-warning alert-dismissible fade show text-center fw-bold" role="alert">
						<strong>
                            {{ error.messageKey|trans(error.messageData, 'security') }}
                        </strong>
						<button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
					</div> 
				{% endif %}
				<div class="form-group">
					<label for="email">Email</label>
					<input type="email" value="{{ last_username }}" name="email" id="email" class="form-control" required autofocus>
				</div>
				<div class="form-group">
					<label for="password">Mot de passe</label>
					<input type="password" name="password" id="password" class="form-control" required>

				</div>
				<div class="mt-2 d-flex justify-content-between">
                    <div class="form-group">
                        <div class="form-check">
                            <input class="form-check-input" type="checkbox" name="_remember_me" id="_remember_me">
                            <label class="form-check-label" for="_remember_me">
                                Rester connecté
                            </label>
                        </div>
                    </div>
                    <a href="{{ path('app_forgot_password_request') }}">Mot de passe oublié?</a>
				</div>
                <div class="mt-2 d-grid gap-2">
                    <button class="btn btn-lg btn-primary" type="submit" formnovalidate>
                        Connexion
                    </button>
                </div>

                <p class="mt-5 mb-3 text-center text-muted">Vous n'êtes pas encore inscrit? <a href="{{ path('app_register') }}">Créer un compte</a></p>

                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
			</form>

		</div>
	</div>
	</div>
{% endblock %}