{% extends 'layouts/base.html.twig' %}

{% block title 'Créer un compte' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            {#{% for flashError in app.flashes('verify_email_error') %}
                <div class="alert alert-danger fade show text-center fw-bold" role="alert">
                    {{ flashError }}
                    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                </div>
            {% endfor %}#}

            <h1 class="my-5 text-center fw-bold">Créer un compte</h1>

            {{ form_start(registrationForm) }}
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.firstName) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.lastName) }}
                    </div>
                </div>
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.email) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.phoneNumber) }}
                    </div>
                </div>
                <div class="row row-cols-lg-auto g-3 align-items-center">
                    <div class="col-md-6">
                        {{ form_row(registrationForm.plainPassword.first) }}
                    </div>
                    <div class="col-md-6">
                        {{ form_row(registrationForm.plainPassword.second) }}
                    </div>
                </div>
                <div class="mt-3">
                    {{ form_row(registrationForm.agreeTerms) }}
                </div>
                <div class="mt-3 d-grid gap-2">
                    <button type="submit" class="btn btn-primary btn-lg" formnovalidate>S'inscrire</button>
                </div>
                <p class="mt-5 mb-5 text-center text-muted">
                    Vous avez déjà un compte? <a href="{{ path('app_login')}}">Connectez-vous</a>
                </p>
            {{ form_end(registrationForm) }}
        </div>
    </div>
    </div>
{% endblock %}
