{% extends 'layouts/base.html.twig' %}

{% block title festival.title %}

{% block body %}
    <div class="container mt-4">
        <div class="col-md-6 mx-auto">
            <h1 class="fw-bold text-center text-break display-3">Incription pour <a class="text-decoration-none" href="{{ path('app_festivals_show', {slug: festival.slug}) }}">{{ festival.title }}</a></h1>
            <p class="mt-3 mb-4 text-center">{{ user.fullName }} comment avez vous pris connaissance de ce festival?</p>
            {{ form_start(form) }}
                {{ form_widget(form) }}
                <div class="d-grid gap-2">
                    <input type="submit" value="Inscription" class="btn btn-secondary btn-lg">
                </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}