{% extends 'layouts/base.html.twig' %}

{% block title 'Réinitialisez votre mot de passe' %}

{% block body %}
    <div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-5 mb-3 text-center">Réinitialisez votre mot de passe</h1>

            {{ form_start(resetForm) }}
                {{ form_row(resetForm.plainPassword) }}
                <div class="mt-2 d-grid gap-2">
                    <button class="btn btn-primary btn-lg" type="submit">Réinitialiser le mot de passe</button>
                </div>
            {{ form_end(resetForm) }}
        </div>
    </div>
    </div>
{% endblock %}
