<section>
    {% for comment in comments %}
        <div class="container mb-2">
            <div class="row justify-content-center">
                <div class="col-12 col-md-10 col-lg-9 col-xl-8">
                    <div class="card card-row shadow-light-lg">
                        <div class="row gx-0">
                            <div class="card-body">
                                <blockquote class="mb-0 text-center">
                                    <p class="text-break">
                                        {{ comment.content }}
                                    </p>
                                    <footer>
                                        <span class="h6 text-uppercase text-muted">
                                            Par {{ comment.user.fullName }} le 
                                            <time datetime="{{ comment.createdAt|date('d-m-Y H:i:s')}}">
                                                {{ comment.createdAt | date('d/m/Y') }}
                                            </time>
                                        </span>
                                    </footer>
                                </blockquote>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    {% endfor %}
</section>
