<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                {% for type, messages in app.flashes %}
                    {% for message in messages %}
                        <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                            <strong>{{ message }}</strong>
                            <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                        </div>
                    {% endfor %}
                {% endfor %}
            </div>
        </div>
    </div>
</section>

<section class="pt-6 pt-md-8">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-12 d-flex justify-content-center">
                <button type="button" class="btn btn-primary btn-lg mt-3 mb-3" data-bs-toggle="modal" data-bs-target="#commentaire">
                    <i class="bi bi-chat"></i> Laissez un commentaire
                </button>
            </div>
        </div>
    </div>
</section>

<!-- Modal -->
<div class="modal fade" id="commentaire" tabindex="-1" aria-labelledby="Commentaire" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">Laisser un commentaire</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        <form>
            <div class="mb-3">
                <input type="text" class="form-control" value="{{ app.user.fullName|default('undefined') }}">
            </div>
            <div class="mb-3">
                <input type="text" class="form-control" value="{{ app.user.email|default('undefined') }}">
            </div>
        </form>    
        <div class="mb-3">
            {{ form_start(form) }}
                {{ form_widget(form) }}
                {% if is_granted('ROLE_USER') %}
                    <div class="d-grid gap-2">
                        <button type="submit" class="btn btn-primary" formnovalidate>Soumettre</button>
                    </div>
                {% else %}
                    <div class="alert alert-info">
                        <p>
                            Pour soumettre un commentaire vous devez être <a href="{{ path('app_login')}}">connecté</a>!
                        </p>
                    </div>
                {% endif %}
            {{ form_end(form)}}
        </div>
      </div>
    </div>
  </div>
</div>
