<div aria-live="polite" aria-atomic="true">
    <div class="toast-container position-absolute p-3 bottom-0 end-0" style="z-index: 99999999;">
        {% for type, messages in app.flashes %}
            {% for message in messages %}
                <div class="toast bg-{{ type }} text-white d-flex align-items-center" role="alert" 
                    aria-live="assertive" aria-atomic="true">
                    <div class="toast-body">
                        {{ message }}
                    </div>
                    <button type="button" class="btn-close btn-close-white ms-auto me-2" 
                        data-bs-dismiss="toast" aria-label="Close">
                    </button>
                </div>
            {% endfor %}
        {% endfor %}
    </div>
</div>


<!-- <div class="container mt-2 text-center"> 
    {#{% for type, messages in app.flashes %}
        {% for message in messages %}
            <div class="alert alert-{{ type }} alert-dismissible fade show" role="alert">
                <strong>{{ message }}</strong>
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
            </div>
        {% endfor %}
    {% endfor %}#}
</div> -->


