<footer class="mt-4 pt-5 pb-5 bg-dark">
    <div class="container">
        <div class="row">
            <div class="col-12 col-md-4 col-lg-3">
                <h1 class="mb-2 text-muted fw-bolder display-4">
                    FestiTobli
                </h1>
                <p class="text-white mb-2">
                    Le séjour dans l'eau ne transforme pas un tronc d'arbre en crocodile.
                    Always be yourself!
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <h6 class="text-bold text-uppercase text-white">
                    Menu
                </h6>
                <ul class="list-unstyled text-muted mb-6 mb-mb-8 mb-lg-0">
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_festivals_index') }}">
                            Nos festivals
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_blogposts_index') }}">
                            Nos articles
                        </a>
                    </li>
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="{{ path('app_contact') }}">
                            Nous contacter
                        </a>
                    </li>
                </ul>
            </div>
            <div class="col-12 col-md-4 col-lg-4">
                <h6 class="text-bold text-uppercase text-white">
                    Informations
                </h6>
                <p class="text-muted mb-2">
                    FestiTobli est une application web qui permet de mettre en valeur la culture malienne,
                    à travers les différents festivals et activités culturelles organisés au Mali tout au long de 
                    l'année.
                </p>
                <p class="text-muted mb-2">
                    Le blog FestiTobli vous permet de voyager au fin fond du Mali pour découvrir des choses insoupçonnées.  
                </p>
            </div>
            <div class="col-12 col-md-4 col-lg-2">
                <h6 class="text-bold text-uppercase text-white">
                    Mentions légales
                </h6>
                <ul class="list-unstyled text-muted mb-0">
                    <li class="mb-3">
                        <a  class="text-reset text-decoration-none" href="">
                            TobliCorp
                        </a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
