<nav class="navbar navbar-expand-lg navbar-light bg-light" aria-label="Third navbar example">
    <div class="container-fluid">
        <a class="navbar-brand" href="{{ path('app_home') }}"><img src="{{ asset('build/icones/festitobli.png') }}" alt="Icone FestiTobli" class="img-fluid"></a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarsExample03" aria-controls="navbarsExample03" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarsExample03">
            <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_festivals_index') }}">
                        <img src="{{ asset('build/icones/nosfestivals1.png') }}" alt="Icone FestiTobli" class="img-fluid">
                    </a>
                </li>
                <li class="nav-item">
                    <a class="nav-link active" aria-current="page" href="{{ path('app_blogposts_index') }}">
                        <img src="{{ asset('build/icones/nosarticles1.png') }}" alt="Icone FestiTobli" class="img-fluid">
                    </a>
                </li>
            </ul>
                {% if app.user %}
                    <ul class="navbar-nav me-auto mb-2 mb-sm-0">
                        <li class="nav-item dropdown">
                            <a class="nav-link dropdown-toggle" href="#" id="dropdown03" data-bs-toggle="dropdown" aria-expanded="false">
                                <img src="{{ app.user.gravatarUrl(30) }}" alt="Avatar de {{ app.user.fullName }}" class="shadow rounded-circle">
                            </a>
                            <ul class="dropdown-menu" aria-labelledby="dropdown03">
                                <li><a class="dropdown-item" href="{{ path('app_dashboard') }}">Tableau de bord</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_account') }}">Paramètre du compte</a></li>
                                <li><a class="dropdown-item" href="{{ path('app_contact') }}">Nous contacter</a></li>
                                <li><hr class="dropdown-divider"></li>
                                <li>
                                    <a class="dropdown-item" href="#" onclick="event.preventDefault(); 
                                    document.getElementById('js-logout-form').submit();">
                                        Se déconnecter
                                    </a>
                                </li>
                                <form id="js-logout-form" action="{{ path('app_logout') }}" method="POST" style="display: none">
                                    <input type="hidden" name="_csrf_token" value="{{ csrf_token('logout') }}">
                                </form>
                            </ul>
                        </li>
                    </ul>
                {% else %}
                    <ul class="navbar-nav d-inline-flex mt-2 mt-md-0 ms-md-auto">
                        <li class="nav-item">
                        <a class="nav-link active" aria-current="page" href="{{ path('app_register') }}">
                            <img src="{{ asset('build/icones/senregistrer.png') }}" alt="Icone FestiTobli" class="img-fluid">
                        </a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="{{ path('app_login')}}">
                                <img src="{{ asset('build/icones/seconnecter.png') }}" alt="Icone FestiTobli" class="img-fluid">
                            </a>
                        </li>
                    </ul>
                {% endif %}
        </div>
    </div>
</nav>