{% extends "@EasyAdmin/layout.html.twig" %}

{% block content %}
    <div class="p-5 mb-4 bg-light rounded-3">
        <div class="container-fluid py-3">
            <h1 class="display-4 fw-bold">Administration</h1>
            <p class="lead">Espace d'administration de {{ appName }}</p>
        </div>
    </div>
{% endblock %}