<div class="position-relative overflow-hidden p-3 p-md-5 m-md-3 text-center bg-light ad-title">
    <div class="bg-image p-5 text-center shadow-1-strong rounded mb-5 text-white" style="background-image: url({{ asset('/img/festicarosel1.jpg') }}); ">
	    <div class="col-md-5 p-lg-5 mx-auto my-5">
            <h1 class="display-1 fw-bold">{{ appName }}</h1>

            <p class="lead fw-normal">
                Le site des festivals par excellence au Mali.
            </p>

        </div>
	</div>
	<div class="product-device shadow-sm d-none d-md-block"></div>
	<div class="product-device product-device-2 shadow-sm d-none d-md-block"></div>
</div>