{% extends "layouts/base.html.twig" %}
{% block title 'Rester informé au sujet de la culture et des festivals au Mali' %}
{% block body %}
    {{ include('homepage/_welcome.html.twig') }}
    <div class="container">
        <h2 class="mb-3 mt-3 text-muted border-bottom">Nos trois derniers festivals</h1>
    </div>
    {{ include('shared/_festival.html.twig') }}
    <div class="container">
        <h2 class="mb-3 mt-3 text-muted border-bottom">Nos trois derniers articles</h1>
    </div>
    {{ include('shared/_blogpost.html.twig') }}
{% endblock %}
