@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css");
@import "shared/variables";
@import "~bootstrap/scss/bootstrap";

body {
    font-family: $primary-font, sans-serif;
}

div.ad-title {
    padding: 2em;
    background-size: cover;
    background-position: center center;
}

div.ad-title h1, div.ad-title p {
    color: white;
    text-shadow: 3px 3px 3px rgba(0,0,0,0.5);
}

.form-group > label {
    @extend .mt-2, .mb-2
}

.pin img {
    transition: transform 0.3s ease-out;
    &:hover {
        transform: scale(1.075);
    }
}