<h1>Salut!</h1>

<p>
   Merci <strong>{{ inscription.user.fullName }}</strong> de vous avoir inscrit à cet événement qui s'intitule : 
   <strong>{{ inscription.festival.title }}</strong> <hr> <br>
   Date de début : {{ inscription.festival.startsAt|datetime }} <br>
   Date de fin : {{ inscription.festival.endAt|datetime }} <hr> <br>
   Lieu : {{ inscription.festival.location }} <br>
   <strong>Prix : {{ format_price(inscription.festival) }}</strong> <br>
   Pour plus d'informations consulter votre <a href="{{ url('app_dashboard') }}">Tableau de bord</a>
</p>

<p>
    Cordialement!
</p>