{% extends 'layouts/base.html.twig' %}

{% block title 'Contact' %}

{% block body %}

    <div class="container">
        <div class="col-md-6 mx-auto">
            <h1 class="mt-4 mb-3 text-center fw-bolder"><i class="bi bi-envelope"></i> Contact</h1>
            <p class="text-center text-muted mb-5">Vous avez une question ou tout autre demande c'est ici</p>    
            {{ form_start(form) }}
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{ app.user.fullName }}">
                </div>
                <div class="mb-3">
                    <input type="text" class="form-control" value="{{ app.user.email }}">
                </div>
                <div class="mb-3">
                    {{ form_row(form.message) }}
                </div>
                <div class="mb-3">
                    {{ form_row(form.notRobot) }}
                </div>
                <div class="mb-5">
                    <button type="submit" class="btn btn-primary w-100" formnovalidate><i class="bi bi-cursor"></i> Envoyer mon message</button>
                </div>
            {{ form_end(form) }}
             
        </div>
    </div>

{% endblock %}
