{% extends 'layouts/base.html.twig' %}

{% block title 'Vous avez ici toutes nos festivals!' %}

{% block body %}
    {{ include('shared/_festival.html.twig') }}
    <div class="mt-5 d-flex justify-content-center">
        {% do festivals.setPageRange(2) %}
        {{ knp_pagination_render(festivals, 'layouts/pagination.html.twig') }}
    </div> 
{% endblock %}
