{% extends 'layouts/base.html.twig' %}

{% block title festival.title %}

{% block body %}
    <div class="container-fluid">
        <div class="mt-3 mb-3 rounded">
            <img 
                src="
                    {{ (festival.imageName ? vich_uploader_asset(festival) 
                    : asset('build/imagesfesti/placeholder.jpg')) 
                    }}" 
                    class="card-img-top w-100" 
                    alt="{{ festival.title }}"
                    style="width: 500px; height: 400px;"
            >
        </div>
    </div> 
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <article class="blog-post">
                    <h1 class="blog-post-title fw-bold display-10 text-break">{{ festival.title }}</h1>
                    <blockquote>
                        <p class="text-break">{{ festival.description | nl2br }}</p>
                    </blockquote>
                    <p class="blog-post-meta">
                        <i class="bi bi-tags"></i>
                        {% for category in festival.category %}
                            <span class="badge bg-primary fw-bolder fs-7 mb-3">{{ category.description }}</span>
                        {% endfor %} <br>
                        
                            <small class="display-7 fs-6 fst-italic">
                                <i class="bi bi-alarm"></i> Publié le 
                                <time datetime="{{ festival.createdAt|date('d-m-Y H:i:s')}}">
                                    {{ festival.createdAt|ago() }}
                                </time>
                                par <span class="fw-bolder">{{ festival.user.fullName }}</span>
                            </small>  
                    </p>
                </article>
            </div>
            <div class="col-md-4">
                <div class="card text-dark bg-light" style="max-width: 18rem;">
                    <div class="card-body">
                        <h4 class="card-title">Prix: {{ format_price(festival) }}</h4>
                        <p class="card-text">
                            <time datetime="{{ festival.createdAt|date('d-m-Y H:i:s')}}">
                                <i class="bi bi-calendar2-check"></i> Date de début : {{ festival.startsAt|datetime }} <br>
                                <i class="bi bi-calendar2-x"></i> Date de fin : {{ festival.endAt|datetime }} <br>
                            </time>
                            <i class="bi bi-table"></i> Nombre de jours : <span class="badge bg-secondary">{{ festival.nberDays }}</span> <br>
                            <i class="bi bi-speedometer2"></i> Nombre de places : <span class="badge bg-primary">{{ festival.numberOfPlaces }}</span> <br>
                            <i class="bi bi-pin-map"></i> Lieu : {{ festival.location }} <br>  
                            {% if isInscripted == false and festival.isSoldOut == false %}
                                <a class="mt-2 btn btn-primary btn-lg" href="{{ path('festival_inscription_create', {slug: festival.slug} )}}">S'inscrire</a>
                                {% else %}
                                    {{ festivalIsSoldOut(festival) }}
                            {% endif %} 
                            
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ include ('shared/comments/_form.html.twig') }}
    {{ include ('shared/comments/_comment.html.twig') }}
{% endblock %}