{% extends 'layouts/base.html.twig' %}

{% block title 'Vous avez ici tous nos articles!' %}

{% block body %}
    {{ include('shared/_blogpost.html.twig') }}
    <div class="mt-5 d-flex justify-content-center">
        {% do blogposts.setPageRange(2) %}
        {{ knp_pagination_render(blogposts, 'layouts/pagination.html.twig') }}
    </div> 
{% endblock %}
