{% extends 'layouts/base.html.twig' %}

{% block title blogpost.title %}

{% block body %}
   <div class="container-fluid">
        <div class="mt-3 mb-3 rounded">
            <img 
                src="
                    {{ (blogpost.imageName ? vich_uploader_asset(blogpost) 
                    : asset('build/imagesblogpost/placeholder.jpg')) 
                    }}" 
                    class="card-img-top w-100" 
                    alt="{{ blogpost.title }}"
                    style="width: 500px; height: 350px;"
            >
        </div>
    </div>
    <div class="container">
        <article class="blog-post">
            <h1 class="blog-post-title fw-bold display-3 text-break">{{ blogpost.title }}</h1>
            <p class="blog-post-meta">
                <i class="bi bi-tags"></i>
                {% for category in blogpost.category %}
                    <span class="badge bg-primary fw-bolder fs-7">{{ category.description }}</span>
                {% endfor %}
            </p>
            <p class="blog-post-meta">
                <small class="display-7 fs-6 fst-italic">
                    <i class="bi bi-alarm"></i> Publié le 
                    <time datetime="{{ blogpost.createdAt|date('d-m-Y H:i:s')}}">
                        {{ blogpost.createdAt|datetime }}
                    </time>
                    par <span class="fw-bolder">{{ blogpost.user.fullName }}</span>
                </small>
            </p>
            <hr>
            <blockquote>
                <p class="text-break">{{ blogpost.content | nl2br }}</p>
            </blockquote>
        </article>
    </div>
    {{ include ('shared/comments/_form.html.twig') }}
    {{ include ('shared/comments/_comment.html.twig') }}
{% endblock %}
