<div class="container my-3">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for blogpost in blogposts %}
            <div class="col d-flex align-items-stretch">
                <article class="pin bg-white rounded shadow">
                    <div class="card h-100">
                        <div class="mw-100 overflow-hidden rounded-top">
                            <a href="{{ path('app_blogposts_show', {slug: blogpost.slug}) }}">
                                <img 
                                    src="
                                        {{ (blogpost.imageName ? vich_uploader_asset(blogpost) 
                                        : asset('build/imagesblogpost/placeholder.jpg')) 
                                        }}" 
                                    class="card-img-top w-100" 
                                    alt="{{ blogpost.title }}"
                                    style="width: 300px; height: 300px;"
                                >
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('app_blogposts_show', {slug: blogpost.slug}) }}" class="text-decoration-none text-dark">
                                <h2 class="h5 card-title fw-bold text-break">{{ blogpost.title }}</h2>
                            </a>
                            <p class="mt-4 card-text text-break">
                                {{ blogpost.content|u.truncate(140, '...', false) }}
                            </p>
                            <hr>
                            <p class="card-text">
                                <small class="text-muted">
                                    <i class="bi bi-alarm"></i> Publié 
                                    <time datetime="{{ blogpost.createdAt|date('d-m-Y H:i:s')}}">
                                        {{ blogpost.createdAt|ago }}
                                    </time> 
                                    par <span class="fw-bolder">{{ blogpost.user.fullName }}</span>
                                </small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>