<div class="container my-2">
    <div class="row row-cols-1 row-cols-md-2 row-cols-lg-3 g-4">
        {% for festival in festivals %}
            <div class="col d-flex align-items-stretch">
                <article class="pin bg-white rounded shadow">
                    <div class="card h-100">
                        <div class="mw-100 overflow-hidden rounded-top">
                            <a href="{{ path('app_festivals_show', {slug: festival.slug}) }}">
                                <img src=
                                    "{{ (festival.imageName ? vich_uploader_asset(festival) 
                                    : asset('build/imagesfesti/placeholder.jpg')) 
                                    }}" 
                                    class="card-img-top w-100" alt="{{ festival.title }}"
                                    style="width: 300px; height: 300px;"
                                >
                            </a>
                        </div>
                        <div class="card-body">
                            <a href="{{ path('app_festivals_show', {slug: festival.slug}) }}" class="text-decoration-none text-dark">
                                <h2 class="h5 card-title fw-bold text-break">{{ festival.title }}</h2>
                            </a>
                            <h4 class="h6 text-muted">{{ format_price(festival) }}</h4>
                            <hr>
                            <p class="mt-4 card-text text-break">
                                {{ festival.description|u.truncate(140, '...', false) }}
                            </p>
                            <hr>
                            <p class="card-text">
                                <small class="text-muted">
                                    <time datetime="{{ festival.createdAt|date('d-m-Y H:i:s')}}">
                                        <i class="bi bi-calendar2-check"></i> Date de début : {{ festival.startsAt|datetime }} <br>
                                        <i class="bi bi-calendar2-x"></i> Date de fin : {{ festival.endAt|datetime }} <br>
                                    </time>
                                    <i class="bi bi-table"></i> Nombre de jours : <span class="badge bg-secondary">{{ festival.nberDays }}</span> <br>
                                    <i class="bi bi-reception-4"></i> Nombre de place initial : <span class="badge bg-info">{{ festival.capacity }}</span> <br>
                                    <i class="bi bi-speedometer2"></i> Nombre de place disponible : <span class="badge bg-primary">{{ festival.numberOfPlaces }}</span> <br>
                                    <i class="bi bi-pin-map"></i> Lieu : {{ festival.location }} <br>
                                    {{ festivalIsSoldOut(festival) }}
                                </small>
                            </p>
                        </div>
                    </div>
                </article>
            </div>
        {% endfor %}
    </div>
</div>