{% extends 'layouts/base.html.twig' %}

{% block title 'Tableau de bord de ' ~ app.user.fullName %}

{% block body %}

    <div class="container">
        <h1 class="mt-4 mb-4 text-center"><i class="bi bi-speedometer2"></i> Tableau de bord de {{ app.user.fullName }}</h1>
        <div class="row">
            <div class="col-md-10 mx-auto">
                {% if userInscriptions | length > 0 %}
                    <div class="card">
                        <div class="card-header bg-primary fs-4">
                            <i class="bi bi-book"></i> Vos Inscriptions
                        </div>
                        <ul class="list-group list-group-flush">
                            {% for userInscription in userInscriptions %}
                                <li class="list-group-item">
                                    <a class="text-decoration-none" href="{{ path('app_festivals_show', {slug: userInscription.festival.slug}) }}">
                                        <img src=
                                            "{{ (userInscription.festival.imageName ? vich_uploader_asset(userInscription.festival) 
                                            : asset('build/imagesfesti/placeholder.jpg')) 
                                            }}" 
                                            class="shadow rounded-circle  me-2" alt="{{ userInscription.festival.title }}"
                                            style="width: 50px; height: 50px;"
                                        >                                     
                                    </a>
                                    <a class="text-decoration-none" href="{{ path('app_festivals_show', {slug: userInscription.festival.slug}) }}">
                                        <span class="fs-6 text-break text-muted fw-bolder me-3">{{ userInscription.festival.title }}</span>
                                    </a>
                                    <span class="text-muted fs-6 fw-bolder me-2">
                                        <time datetime="{{ userInscription.festival.createdAt|date('d-m-Y H:i:s')}}">
                                            Du {{ userInscription.festival.startsAt|datetime }} au {{ userInscription.festival.endAt|datetime }} 
                                        </time>
                                    </span>
                                    <span class="text-muted fs-6 fw-bolder me-2">
                                        {{ userInscription.festival.location }}
                                    </span>
                                    <span class="text-muted fs-6 fw-bolder me-2">
                                        {{ format_price(userInscription.festival) }} 
                                    </span>
                                    <small class="text-muted fw-bolder">
                                        <time datetime="{{ userInscription.festival.createdAt|date('d-m-Y H:i:s')}}">
                                            {{ userInscription.createdAt|ago() }} 
                                        </time>
                                    </small>
                                </li>  
                            {% endfor %}
                        </ul>
                    </div>
                {% else %}
                    <p class="alert alert-info fs-5">
                        Vous n'êtes inscrit(e)s à aucun festival pour le moment. 
                        <a class="text-decoration-none" href="{{ path('app_festivals_index')}}">
                            Vous trouverez ici tous nos festivals.
                        </a>
                    </p>
                {% endif %}
            </div>
        </div>
    </div>
    
{% endblock %}